﻿@model siente.Models.Camion

@{
    ViewBag.Title = "Create";
}

<div class="col-md-8 col-md-offset-2">
<h1 class="center-text page-header">Camión</h1>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMarca)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdMarca", String.Empty)
            @Html.ValidationMessageFor(model => model.IdMarca)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modelo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modelo)
            @Html.ValidationMessageFor(model => model.Modelo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ano)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ano)
            @Html.ValidationMessageFor(model => model.Ano)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Serie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Serie)
            @Html.ValidationMessageFor(model => model.Serie)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IdNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdNum)
            @Html.ValidationMessageFor(model => model.IdNum)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IdPersona)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPersona", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPersona)
        </div>

        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg" />
        </p>
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
