﻿@model siente.Models.Camion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Camion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CamionMarca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CamionMarca.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modelo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Serie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Persona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Persona.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
