﻿@model siente.Models.Camion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Camion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CamionMarca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CamionMarca.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modelo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Serie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Persona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Persona.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
