﻿@model IEnumerable<siente.Models.Camion>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Camiones @* @Html.ActionLink("Crear Nuevo", "Create", null, new {@class="btn btn-lg btn-default"})*@</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CamionMarca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CamionMarca.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) 
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
