﻿@model siente.Models.Concesion

@{
    ViewBag.Title = "Create";
}
<div class="col-md-8 col-md-offset-2">
<h1 class="center-text page-header">Concesión</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ruta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ruta)
            @Html.ValidationMessageFor(model => model.Ruta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEmpresa)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdEmpresa", String.Empty)
            @Html.ValidationMessageFor(model => model.IdEmpresa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesionario)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesionario", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesionario)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IdBeneficiario)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdBeneficiario", String.Empty)
            @Html.ValidationMessageFor(model => model.IdBeneficiario)
        </div>

        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg" />
        </p>
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
