﻿@model siente.Models.Concesion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Concesion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ruta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ruta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Camion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Camion.IdNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Persona1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Persona1.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Persona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Persona.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
