﻿@model siente.Models.Concesion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Concesion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ruta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ruta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Camion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Camion.IdNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Persona1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Persona1.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Persona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Persona.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
