﻿@model siente.Models.Concesion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Concesion</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Ruta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ruta)
            @Html.ValidationMessageFor(model => model.Ruta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEmpresa)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdEmpresa", string.Empty)
            @Html.ValidationMessageFor(model => model.IdEmpresa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesionario)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesionario", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesionario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBeneficiario)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdBeneficiario", String.Empty)
            @Html.ValidationMessageFor(model => model.IdBeneficiario)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
