﻿@model IEnumerable<siente.Models.Concesion>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Concesiones  @*@Html.ActionLink("Crear Nuevo", "Create", null, new {@class="btn btn-lg btn-default"})*@</h2>

<table>
    <tr class="header-table">
        <th>
            @Html.DisplayNameFor(model => model.Ruta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ruta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Camion.IdNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona1.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
            @Html.ActionLink("Detalles", "Details", new { id=item.Id })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
