﻿@model siente.Models.Concesion
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
@{
    foreach (var p in ViewBag.concesionarios)
    {
        <tr>
            <td>@p.Nombre</td>
            <td><a class="btn btn-primary" href="@Url.Action("Dashboard", "Persona", new { id = p.Id })"><i class="glyphicon glyphicon-eye-open"></i></a></td>
        </tr>
    }
}
    </tbody>
</table>