﻿@model siente.Models.HistoriaAfiliacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HistoriaAfiliacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresa.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresa1.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa1.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Concesion.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Concesion.Id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
