﻿@model siente.Models.HistoriaAfiliacion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HistoriaAfiliacion</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaRegistro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaRegistro)
            @Html.ValidationMessageFor(model => model.FechaRegistro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEmpresaVieja, "Empresa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdEmpresaVieja", String.Empty)
            @Html.ValidationMessageFor(model => model.IdEmpresaVieja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEmpresaNva, "Empresa1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdEmpresaNva", String.Empty)
            @Html.ValidationMessageFor(model => model.IdEmpresaNva)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesion, "Concesion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
