﻿@model IEnumerable<siente.Models.HistoriaAfiliacion>

@{
    ViewBag.Title = "Index";
}

<h2>Historial de Afiliaciones</h2>

<table>
    <tr class="header-table">
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            Anterior
        </th>
        <th>
            Actual
        </th>
        <th>
            Concesion
        </th>
 @*       <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa1.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concesion.Id)
        </td>
@*        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) 
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
