﻿@model siente.Models.CuentaBancaria

@{
    ViewBag.Title = "Create";
}
<div class="col-md-8 col-md-offset-2">
<h1 class="center-text page-header">Cuenta Bancaria</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLABE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLABE)
            @Html.ValidationMessageFor(model => model.CLABE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPersona)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPersona", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPersona)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBanco)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdBanco", String.Empty)
            @Html.ValidationMessageFor(model => model.IdBanco)

        </div>

        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg" />
        </p>
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
