﻿@model siente.Models.CuentaBancaria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CuentaBancaria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLABE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLABE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Persona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Persona.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Banco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Banco.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
