﻿@model siente.Models.CuentaBancaria

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CuentaBancaria</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLABE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLABE)
            @Html.ValidationMessageFor(model => model.CLABE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPersona, "Persona")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPersona", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPersona)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBanco, "Banco")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdBanco", String.Empty)
            @Html.ValidationMessageFor(model => model.IdBanco)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
