﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="container">
                @Html.Partial("_Menu")
                @RenderBody()
        </div>
        <div id="footer">
            <div class="container">
                <p>SIENTE S.A. de C.V. <span class="pull-right"> Derechos Reservados <span class="glyphicon glyphicon-copyright-mark icon-white"></span></span></p>
            </div>
        </div>
        @Scripts.Render("~/bundles/bootstrap")
        <script type="text/javascript">

           
            $(document).ready(function () {
                //var add = $(".table tr td:last a");
                $(".editor-field").addClass("form-group");
                $(".editor-field .text-box, select").addClass("form-control");
                $("form").attr("id", "myForm");
                $("table").addClass("table table-striped");
                $(".table tr:first").addClass("header-table");
                
                $(".table tr td a").addClass("btn btn-default btn-sm");

                //$.each(add,function(index,valor)
                //{
                //    $(add[index]).addClass("btn btn-default btn-sm");
                //});
            });

                $('.datepicker').datepicker({
                    language: "es",
                    todayBtn: "linked",
                    autoclose: true,
                    todayHighlight: true
                });

            </script> 
        @RenderSection("scripts", required: false)
    </body>
</html>
