﻿
@*if (User.IsInRole("Admin"))
{*@
    <nav class="navbar navbar-default no-bk" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SIENTE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Index","HistoriaCamion")"><span class="glyphicon glyphicon-refresh"></span> Remplazos</a></li>
        <li><a href="@Url.Action("Index","HistoriaAfiliacion")"><span class="glyphicon glyphicon-list-alt"></span> Historial Afiliaciones</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Listas <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="@Url.Action("Index","Camion")">Camiones</a></li>
              <li><a href="@Url.Action("Index","Permiso")">Permisos</a></li>
              <li><a href="@Url.Action("Index","Seguro")">Seguros</a></li>
              <li><a href="@Url.Action("Index","Concesion")">Concesiones</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
@*}*@