﻿@model siente.Models.Persona

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    
        @{
            if (ViewBag.Error != "")  
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }
        }

       <div class="col-sm-2 center-text">
            <img src="~/Content/img/User-Login.png" class="img-responsive"/>
       </div>
       <div class="col-sm-2 center-text">
            <span class="conce-nom">@Html.DisplayFor(x => x.Nombre)</span>
       </div>
        <div class="col-sm-8">
            <table>
                <thead>
                    <tr class="header-table">
                        <th colspan="3">
                            <img src="~/Content/img/glyphicon-bus.png" class="glyphicon-bus" /> Camiones
                            <a href="@Url.Action("Create", "Camion", new { id = Model.Id })" class="pull-right">
                                <span class="glyphicon glyphicon-plus btn-add" title="Agregar"></span>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th>Serie</th>
                        <th>Modelo</th>
                        <th>Seguro</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(var camion in ViewBag.Camiones){
                            <tr>
                                <td>@camion.Serie</td>
                                <td>@camion.Modelo</td>
                                <td>
                                    @{
                                        if (camion.Seguroes.Count > 0)
                                        {
                                            <span style="color: green" class="glyphicon glyphicon-ok"></span>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Create","Seguro",new { id = camion.Id })"><span style="color: red" class="glyphicon glyphicon-remove"></span></a>
                                        }
                                    }
                                </td>
                            </tr>   
                        }
                    }
                </tbody>
            </table>
        </div>
</div>
<br />
<br />
<div class="row">
        <div class="col-md-6" >
            <table>
                <thead>
                    <tr class="header-table">
                        <th colspan="3">
                            <span class="glyphicon glyphicon-file"></span> Concesiones
                            <a href="@Url.Action("Create","Concesion", new { id = Model.Id })" class="pull-right">
                                <span class="glyphicon glyphicon-plus btn-add" title="Agregar"></span>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th>Camion</th>
                        <th>Ruta</th>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                     @{
                         foreach (var concesion in ViewBag.Concesiones)
                         {
                            <tr>
                                <td>@concesion.Camion.Serie</td>
                                <td>@concesion.Ruta</td>
                                <td>@concesion.Empresa.Nombre</td>
                            </tr>   
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6" >
            <table>
                <thead>
                    <tr class="header-table">
                        <th colspan="3">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Permisos
                            <a href="@Url.Action("Create","Permiso",new { id = Model.Id})" class="pull-right">
                                <span class="glyphicon glyphicon-plus btn-add" title="Agregar"></span>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th>Camion</th>
                        <th>Ruta</th>
                        <th>Fecha Termino</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                         foreach (var permiso in ViewBag.Permisos)
                         {
                            <tr>
                                <td>@permiso.Camion.Serie</td>
                                <td>@permiso.Concesion.Ruta</td>
                                <td>@permiso.FechaTermino</td>
                            </tr>   
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>