﻿@model IEnumerable<siente.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Personas @Html.ActionLink("Crear Nuevo", "Create", null, new { @class="btn btn-default btn-lg"})</h2>
    
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFisica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConcesionario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFisica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConcesionario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
