﻿@model siente.Models.Seguro

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 col-md-offset-2">
<h1 class="center-text page-header">Seguro</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumPoliza)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumPoliza)
            @Html.ValidationMessageFor(model => model.NumPoliza)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumEndoso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumEndoso)
            @Html.ValidationMessageFor(model => model.NumEndoso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicio)
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaTermino)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaTermino)
            @Html.ValidationMessageFor(model => model.FechaTermino)
        </div>

        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg" />
        </p>
    </fieldset>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}