﻿@model siente.Models.Seguro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Seguro</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Camion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Camion.IdNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumPoliza)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumPoliza)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumEndoso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumEndoso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaTermino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaTermino)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
