﻿@model siente.Models.Seguro

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Seguro</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumPoliza)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumPoliza)
            @Html.ValidationMessageFor(model => model.NumPoliza)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumEndoso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumEndoso)
            @Html.ValidationMessageFor(model => model.NumEndoso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicio)
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaTermino)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaTermino)
            @Html.ValidationMessageFor(model => model.FechaTermino)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
