﻿@model IEnumerable<siente.Models.Seguro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Seguros @*@Html.ActionLink("Crear Nuevo", "Create", null, new {@class="btn btn-lg btn-default"})*@</h2>

<table>
    <tr class="header-table">
        <th>
            @Html.DisplayNameFor(model => model.Camion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPoliza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumEndoso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaTermino)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Camion.IdNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumEndoso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTermino)
        </td>
        <td class="buttons">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
