﻿@model IEnumerable<siente.Models.CamionMarca>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Marca de Camiones  @Html.ActionLink("Crear Nuevo", "Create", null, new {@class="btn btn-lg btn-default"})</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
