﻿@model siente.Models.Permiso

@{
    ViewBag.Title = "Create";
}

<div class="col-md-8 col-md-offset-2">
<h1 class="center-text page-header">Permiso</h1>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicio)
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaTermino)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaTermino)
            @Html.ValidationMessageFor(model => model.FechaTermino)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdSeguro, "Seguro")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdSeguro", String.Empty)
            @Html.ValidationMessageFor(model => model.IdSeguro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion, "Camion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesion, "Concesion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesion)
        </div>
        <dl id="showData" class="well" style="color:black">
            <dt>

            </dt>
            <dd>

            </dd>
        </dl>
        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg" />
        </p>
    </fieldset>
    <script>
        $(document).ready(function () {
            $("#IdConcesion").change(function (e) {
                $.post("/concesion/getDatos",
                    {
                        id : $(this).val()
                    },
                    function (data) {
                        html = "";
                        for (var d in data[0]) {
                            html += "<dt>"+d+":</dt><dd>"+data[0][d  ]+"</dd>"
                        }
                        $("#showData").html(html);
                        //Id = c.Id, camion = c.Camion.IdNum, Ruta = c.Ruta, beneficiario = c.Persona.Nombre, concesionario = c.Persona1.Nombre
                    }
                );
            })
        });
    </script>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
