﻿@model siente.Models.Permiso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Permiso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaTermino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaTermino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Seguro.NumPoliza)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seguro.NumPoliza)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Camion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Camion.IdNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Concesion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Concesion.Persona1.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
