﻿@model siente.Models.Permiso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Permiso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaTermino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaTermino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Seguro.NumPoliza)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seguro.NumPoliza)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Camion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Camion.IdNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Concesion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Concesion.Persona1.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
