﻿@model siente.Models.Permiso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Permiso</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicio)
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaTermino)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaTermino)
            @Html.ValidationMessageFor(model => model.FechaTermino)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSeguro, "Seguro")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdSeguro", String.Empty)
            @Html.ValidationMessageFor(model => model.IdSeguro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion, "Camion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesion, "Concesion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
