﻿@model IEnumerable<siente.Models.Permiso>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Permisos @* @Html.ActionLink("Crear Nuevo", "Create", null, new {@class="btn btn-lg btn-default"})*@</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaTermino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seguro.NumPoliza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concesion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seguro.NumPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Camion.IdNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concesion.Persona1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
