﻿@model siente.Models.Empresa

@{
    ViewBag.Title = "Create";
}

<div class="col-md-8 col-md-offset-2">
<h1 class="center-text page-header">Empresa</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg" />
        </p>
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
