﻿/*/////////////////////////////////////////
    color principal ----->>> azul: #254882 
//////////////////////////////////////////*/


/*Sticky footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: transparent;
  border-top:solid white 1px;
  color:white;
}

#footer p {
  margin: 0px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*End Sticky footer*/


/***************************************************/
.icon-white {
    color: white;
}

body {
  padding-top: 20px;
  
background: #486fa8; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #486fa8 1%, #395d91 16%, #1b2949 67%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#486fa8), color-stop(16%,#395d91), color-stop(67%,#1b2949)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #486fa8 1%,#395d91 16%,#1b2949 67%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #486fa8 1%,#395d91 16%,#1b2949 67%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #486fa8 1%,#395d91 16%,#1b2949 67%); /* IE10+ */
background: radial-gradient(ellipse at center,  #486fa8 1%,#395d91 16%,#1b2949 67%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#486fa8', endColorstr='#1b2949',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  /*background:url('img/bk/bk2.jpg')center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #444;
    height: 100%;*/

  color:white
}

.container

.container.home div[class*="col-md"] {
    margin-bottom:10px;
}
    

.navbar {
  margin-bottom: 20px;
}

.center-text
{
    text-align:center
}

.no-bk
{
    background:transparent;
    color:white
}

.icon-btn {
    font-size:35px;
    margin: auto auto 5px;
    display:block
}

.navbar-default .navbar-brand {
    color: white;
}

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #BBBBBB;
    }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:white;
    background: #254882;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #333;
        background:white;
    }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: white;
}

.table {
    background: transparent;
    color:white;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: transparent;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid white;
}

.table .header-table th {
    padding: 8px;
}

.table .header-table {
    background: white;
    color: black;
}

.header-table span.glyphicon {
    font-size: 18px;
}
    .table .header-table:hover {
        background: white;
    }

.table .body-table {
    height: 50px;
    overflow: hidden;
    overflow-x: hidden;
}

.table tr th{
    border-top:transparent;
    border-bottom:3px solid white;
    font-weight:lighter
}

.table tr:hover {
    background:#486fa8;
}

.btn-add {
    color: black;
    font-size: 18px;
}

.conce-nom {
    font-size: 20px;
    font-weight: bolder;
}

.glyphicon-bus {
    width: 24px;
    height: 22px;
}

@media (max-width: 767px) {

    .navbar-nav .open .dropdown-menu {
        background: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
        background: #254882;
    }

    .img-responsive {
        display: inline;
    }
}