﻿@{
    ViewBag.Title = "Página principal";
}

<div class="center-text jumbotron no-bk">
    <h1 class="page-header"> SIENTE</h1>
    Sociedad Integradora del Transporte Efectivo
</div>
<div class="container home">
    <div class="col-md-4 col-md-offset-2">
        <a href="/Persona/Create" class="btn btn-block btn-default btn-lg">
            <span class="glyphicon glyphicon-user icon-btn"></span>
            Agregar Concesionario o Beneficiario
        </a>
    </div>
    <div class="col-md-4">
        <a href="/Concesion/Usuarios" class="btn btn-block btn-default btn-lg">
            <span class="glyphicon glyphicon-list icon-btn"></span>
            Lista de Concesionarios
        </a>
    </div>
</div>
@*<table>
    <thead>
        <tr>
            <td>Camion</td>
            <td>Persona</td>
            <td>Seguro</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
@{
    foreach (var p in ViewBag.Avisos)
    {
        <tr>
            <td>@p.Camion.Serie</td>
            <td>@p.Concesion.Persona1.Nombre</td>
            <td>@p.Seguro.NumPoliza</td>
            <td>@p.FechaTermino</td>
        </tr>
    }
}
    </tbody>
</table>*@
    <!--<div class="alert alert-danger">El permiso de la concesion de Diegoamarillas esta por expirar <a href="#">ir al permiso</a><button type="button" class="close" aria-hidden="true">&times;</button></div>-->

