﻿@model siente.Models.HistoriaCamion

@{
    ViewBag.Title = "Create";
}

<div class="col-md-8 col-md-offset-2">
<h1 class="center-text page-header">Hisotoria Camión</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaRegistro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaRegistro)
            @Html.ValidationMessageFor(model => model.FechaRegistro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesionNva, "Concesion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesionNva", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesionNva)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesionVieja, "Concesion1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesionVieja", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesionVieja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion, "Camion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>

        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg" />
        </p>
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
