﻿@model siente.Models.HistoriaCamion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HistoriaCamion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Concesion.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Concesion.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Concesion1.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Concesion1.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Camion.Modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Camion.Modelo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
