﻿@model siente.Models.HistoriaCamion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HistoriaCamion</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaRegistro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaRegistro)
            @Html.ValidationMessageFor(model => model.FechaRegistro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesionNva, "Concesion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesionNva", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesionNva)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdConcesionVieja, "Concesion1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdConcesionVieja", String.Empty)
            @Html.ValidationMessageFor(model => model.IdConcesionVieja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCamion, "Camion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCamion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCamion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
