﻿@model IEnumerable<siente.Models.HistoriaCamion>

@{
    ViewBag.Title = "Index";
}

<h2>Cambios de Concesión</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concesion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camion.Modelo)
        </th>
@*        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concesion.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concesion1.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Camion.Modelo)
        </td>
@*        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalls", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
